{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container py-5">
    <div class="text-end">
        <h2>Add Job Posting</h2>
    </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group pb-3">
            <label for="companyname">Company Name</label>
            <input type="text" class="form-control" placeholder="" name="companyname" required/>
        </div>
        <div class="form-group pb-3">
            <label for="post">Post Name</label>
            <input type="text" class="form-control" placeholder="" name="post" required/>
        </div>
        <div class="form-group pb-3">
            <label for="vacantseats">Vacant Seats</label>
            <input type="text" class="form-control" placeholder="" name="vacantseats" required/>
        </div>
        <div class="form-group pb-3">
            <label for="jobdesc">Job Description</label>
            <input type="text" class="form-control" placeholder="" name="jobdesc" required/>
        </div>

        <div class="form-group pb-3">
            <label for="jobloc">Job Location</label>
            <input type="text" class="form-control" placeholder="" name="jobloc" required/>
        </div>
        <div class="form-group pb-3">
            <label for="education">Education</label>
            <input type="text" class="form-control" placeholder="" name="education" required/>
        </div>
        <div class="form-group">
            <input type="submit" value="Post Job" class="btn btn-primary">
        </div>
    </form>
</div>
{% endblock content %}



