{% extends 'base.html' %}
{% load static %}
{% block content %}
<section style="background-repeat:no-repeat;background-size:cover;background-position:center;background-color:#9873f3;background-blend-mode: multiply; background-image: url(../static/images/vltc.jpg);display:flex;justify-content:center;align-items:center">
    <div class="container py-5 text-center">
        <h2 class="pt-3 text-white">All Courses</h2>
    </div>
</section>
<section id="header" class="py-5">
    <div class="container">
        
        <input type="text" id="myFilter" class="form-control p-2 text-center" onkeyup="myFunction()" placeholder="Search for courses.." style="border-radius: 5px;">
        <div class="row" id="myItems">
        <div id="alertdanger" class="alert alert-danger mt-3" role="alert" style="display:none;border: 0 !important;">
            No results found!!
        </div>
            {% for i in allcoursedata %}
            
            <div class="col-md-3 col-lg-3 col-12 mt-4">
                <div class="card h-100 shadow" style="border-radius: 10px;overflow:hidden;border: 0 !important;">
                    <img class="img-fluid" src="{{i.thumbnailcourse.url}}" class="card-img-top" alt="not loaded" style="height: 12rem;width: 100%;">
                    <div class="card-body">
                        
                        <div class="text-end">
                            <span style="font-size: 0.7rem;">{{i.dateadded}}</span> <br>
                            <span class="badge bg-danger card-category">{{i.category}}</span></div>
                        <h5 class="mt-2 "><a class="card-title" style="text-decoration: none;color: #000">{{i.coursetitle}}</a></h5>
                        <p class="mt-2 card-uploadedby text-muted" style="font-size:0.9rem">{{i.uploadedby}}</p>
                        
                        
                    </div>
                    <div class="card-footer text-end text-white" style="background-color: #5624d0 !important;cursor:pointer;">
                        <a class="text-white" style="text-decoration:none;" href="{% url 'coursedetail' i.id %}">Go to Course</a>
                    </div>
                    
                </div>
            </div>
    
            {% endfor %}
        </div>
    </div>
</section>
<script>
    function myFunction() {
    var input, filter, cards, cardContainer, h5, title, i;
    input = document.getElementById("myFilter");
    filter = input.value.toUpperCase();
    cardContainer = document.getElementById("myItems");
    cards = cardContainer.getElementsByClassName("col-12");
    for (i = 0; i < cards.length; i++) {
        title = cards[i].querySelector(".card-title");
        title2 = cards[i].querySelector(".card-category");
        title3 = cards[i].querySelector(".card-uploadedby");
        if (title.innerText.toUpperCase().indexOf(filter) > -1) {
            cards[i].style.display = "flex";
            document.getElementById("alertdanger").style.display = "none";
        }else if (title2.innerText.toUpperCase().indexOf(filter) > -1) {
            cards[i].style.display = "flex";
            document.getElementById("alertdanger").style.display = "none";
        }else if (title3.innerText.toUpperCase().indexOf(filter) > -1) {
            cards[i].style.display = "flex";
            document.getElementById("alertdanger").style.display = "none";
        }else {
            cards[i].style.display = "none";
            document.getElementById("alertdanger").style.display = "flex";
        }
    }
}
</script>


{% endblock content %}