{% extends 'base.html' %}
{% block content %}
<div class="text-center">
    <h2>CeL Blog</h2>
</div>
<div class="container py-3">
  <div class="text-end">
    <a class="btn btn-primary" style="text-decoration: none" href="/new-question"><i class="fa fa-plus"></i> Add new</a>
  </div>
</div>


<section class="container">
    
    <div class="question-list-item">
        <ul class="list-group" style="border-radius: 10px;">
            {% for question in questions %}
            <li class="list-group-item">
                <a style="text-decoration: none" href="{% url 'question' question.id %}">
                    <p class="question-list-item-title">
                      {{question.title}}
                    </p>
                    <p class="mb-0">{{question.body}}</p>
                    <small class="question-list-item-author">
                      by {{question.author.username}}
                    </small>
                  </a>
            </li>
            {% endfor %}
          </ul>
        
      </div>
</section>

{% endblock content %}