{% extends 'base.html' %}
{% block content %}
<section style="background-repeat:no-repeat;background-size:cover;background-position:center;background-color:#9873f3;background-blend-mode: multiply; background-image: url(../static/images/vltc.jpg);display:flex;justify-content:center;align-items:center">
  <div class="container py-5 text-center">
      <h2 class="pt-3 text-white">Blog</h2>
  </div>
</section>
{% if user.is_authenticated %}
<div class="container py-3">
  <div class="text-end">
    <a class="btn btn-primary" style="text-decoration: none" href="/new-question"><i class="fa fa-plus"></i> Add new</a>
  </div>
</div>
{% endif %}


<section class="container">
    
    <div class="question-list-item">
        <ul class="list-group" style="border-radius: 10px;">
            {% for question in questions %}
            <li class="list-group-item">
                <a style="text-decoration: none" href="{% url 'question' question.id %}">
                    <p class="question-list-item-title">
                      {{question.title}}
                    </p>
                    <p class="mb-0">{{question.body}}</p>
                    <small class="question-list-item-author">
                      by {{question.author.username}}
                    </small>
                  </a>
            </li>
            {% endfor %}
          </ul>
        
      </div>
</section>

{% endblock content %}