
{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    
    .logo{
        padding-left: 12px !important;
    }
    .navbar-nav{
        text-align: center;
    }
    .navbar-nav .dropdown-menu{
        text-align: center;
    }
    .dropdown, .dropend, .dropstart, .dropup{
        margin-right: 0 !important;
        padding-left: 10px;
        padding-right: 10px;
    }
    .row{
        --bs-gutter-x: 0 !important;
    }
</style>
<section id="header" style="">
    <div class="container">
        <div class="row py-5">

            <div class="col-lg-6 col-md-6 order-md-2 order-lg-2 text-center"
                style="display: flex;justify-content:center;align-items:center; flex-direction:column">
                <img src="{% static 'images/header-img.svg' %}" alt="" class="img-fluid" style="height:25rem;width:100%">

            </div>
            <div class="col-lg-6 col-md-6 order-md-1 order-lg-1"
                style="display: flex;justify-content:center;align-items:start; flex-direction:column">
                <div class="subtitle mt-3">
                    CeL | MNIT JAIPUR
                </div>
                <h1 class="title">Explore courses by top professors.</h1>
                <a href="#about" class="know-button" style="text-decoration: none">KNOW MORE</a>
            </div>
            
        </div>
    </div>
</section>

<section id="blue-box" style="background-color: #f7f9fa;padding: 35px 0;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-12">
                    {% if jobdata %}
                    <div class="card p-1 job-name h-100" style="border-radius:12px;border: 0 !important;">
                        <div class="card-body">
                            <div style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 1.4rem;" class="text-center mt-2"> Job Postings by Alumni</div>
                            <h3 class="jobname" style="color: #5624d0">{{jobdata.companyname}}</h3>
                            <p class="mb-0">{{jobdata.post}}</p>
                            <p class="mb-0">Qualification: <i>{{jobdata.education}}</i></p>
                            <p class="mb-0">Vacant Seats <span style="color:green;font-weight: 700;">{{jobdata.vacantseats}}</span></p>
                            <p class="text-muted mb-0">
                                {{jobdata.jobdesc |truncatechars:100}}
                            </p>
                            <div class="mt-2" style="display:flex;justify-content:space-between;">
                                <p class="m-0"><i class="fa fa-map-marker marker"></i> {{jobdata.location}}</p>

                                <a href="/alljobs" style="text-decoration: none;font-size: 0.9rem;">View all jobs available</a>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="card h-100" style="border: 0 !important;background-color: transparent">
                        <div class="card-body text-center">
                            <img style="height:10rem; width:10rem" class="img-fluid rounded-circle" src="https://colmanandcompany.com/blog/wp-content/uploads/2014/04/blog-word-cloud1.jpg" alt=""> 
                        </div>
                    </div>
                    {% endif %}
                </p>
            </div>
            <div class="col-md-6 col-lg-6 col-12">
                <div class="card p-3 job-name shadow h-100" style="border-radius:12px;border: 0 !important;">
                    <div style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 1rem;"
                class="text-end"> Question of the Day</div>
                    <div class="card-body" style="display: flex;flex-direction: column;justify-content:center;align-items:center">
                        <h3 class="" style="color: #5624d0">{{questions.body}}</h3>
                        <!-- <p class="mb-0">asked by: <i>{{questions.author.username}}</i></p> -->
                        <a href="{% url 'question' questions.id %}" class="mt-1" style="text-decoration: none;font-size: 0.9rem;">View Responses or Answer Now</a>
                    </div>
                </div>
                
            </p>
        </div>
        </div>
    </div>
</section>

<section id="about">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-6 col-md-6 px-3" style="display:flex;justify-content:center;align-items:center">
                <img src="{% static 'images/about-img.jpg' %}" style="max-width:100%;border-radius:13px" alt="">
            </div>
            <div class="col-lg-6 col-md-6 mt-3 px-3"
                style="display:flex;flex-direction: column; justify-content:center;align-items: start;">
                <div style="font-weight: 500;margin-bottom: 8px; color:#999;">
                    ABOUT
                </div>
                <h2 style=" font-size:36px;font-weight:700;color: #1c1b1b">LEARN AT YOUR OWN PACE

                </h2>
                <h3 style="color:#5624d0;">CeL | MNIT JAIPUR</h3>
                <div style="text-align:justify">
                    The centre for e-Learning (CeL), established at the ICT Centre, MNIT Jaipur, aims to impart quality education, in the easiest manner, with equitable access to learners across the nation. The main motto of CeL is to digitalize learning by conducting seminars, learning events, workshops in different fields. The portal will offer video lectures (recorded as well as live series), interview experiences of placed students, and many more, to enable students to learn at their own pace and pursue their interests. <br> <br> Everyone does not have the same view of the world, and their understanding of something may differ dramatically from yours. Sometimes you can even create something awesome in your career by asking their thoughts or inputs on something you might not even know or have heard of. CeL will give you chance to grow, to be open to new ideas, new ways of doing things, or new ways of thinking.

                    <br> <br> Learn Higher also states that meeting new people can offer encouragement, solutions
                    to common problems, and advice for how to handle challenges. CeL will provide you a great way to meet other people in your area with shared interests.
                </div>
            </div>
        </div>


    </div>
</section>



<section id="why-cel" class="my-5">
    <div class="container">
        <h2 class="px-3" style=" font-size:36px;line-height: 48px;font-weight:700;color: #1c1b1b; margin-bottom: 20px;">
            Why CeL? </h2>
        <div class="row">
            <div class="col-lg-6 col-md-6 order-md-2 order-lg-2 px-3"
                style="display:flex;flex-direction: column; justify-content:center;align-items: center;">
                <img class="" src="{% static 'images/vltc.jpg' %}" style="max-width:100%;height:auto;" alt="">
            </div>
            <div class="col-lg-6 col-md-6 order-md-1 order-lg-1 mt-3 px-3">
                <div class="row">
                    <h4 class="why-h mt-1 "><i class="fa fa-user " style="color: #5624d0"></i> Mentor that fits you</h4>
                    <div style="text-align:justify;color: #363636;font-family: 'Roboto',sans-serif;">
                        
                        Good mentors are enthusiastic people, and we have exact that team for you. Our team is dedicated and a good mentor is always willing to teach what he/she knows and accept the mentee where they currently are in their professional development and will help you to become better you.
                    </div>
                </div>
                <div class="row">
                    <h4 class="why-h mt-1 "><i class="fa fa-star " style="color: #5624d0"></i> Unmatchable experience</h4>
                    <div style="text-align:justify;color: #363636;font-family: 'Roboto',sans-serif;">
                        
                        We provide unmatchable experience, We make connections that set you forward. With personalized training and courses from the best mentors of top institutes, you get an unparalleled and exceptional experience.
                    </div>
                </div>
                <div class="row">
                    <h4 class="why-h mt-1 "><i class="fa fa-university " style="color: #5624d0"></i> Diversify your reach</h4>
                    <div style="text-align:justify;color: #363636;font-family: 'Roboto',sans-serif;">
                        
                        With our webinars, you can diversify and extend your reach and can set a solid foundation for your future with personal and professional guidance.
                    </div>
                </div>
                
                
            </div>
        </div>




    </div>
</section>

<section id="counter"
    style=" background-size: cover;background-repeat: no-repeat; padding: 105px 0 97px 0" class="counts-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div style="display: flex;align-items: center; flex-direction:column">
                    <i class="fa fa-book fa-4x text-white"></i>
                    <p class="icon-p"><span class="counter">100</span>+</p>
                    <h5 class="icon-h">Talented Professors</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div style="display: flex;align-items: center; flex-direction:column">
                    <i class="fa fa-user fa-4x text-white"></i>
                    <p class="icon-p"><span class="counter">20</span>+</p>
                    <h5 class="icon-h">Excellent Courses</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div style="display: flex;align-items: center; flex-direction:column">
                    <i class="fa fa-phone fa-4x text-white"></i>
                    <p class="icon-p"><span class="counter">55</span>+</p>
                    <h5 class="icon-h">Registered Users</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div style="display: flex;align-items: center; flex-direction:column">
                    <i class="fa fa-laptop fa-4x text-white"></i>
                    <p class="icon-p"><span class="counter">40</span>+</p>
                    <h5 class="icon-h">Jobs Available</h5>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="pt-5" id="skills"
    style="background-image: url('../static/images/traingle-curve.png');background-size: cover;background-repeat: no-repeat;background-position: center;">
    <div class="text-center" style="margin-bottom: 117px;">
        <div style="font-family: 'Poppins';font-weight: 500;margin-bottom: 16px;color: #999;">WHAT YOU GAIN</div>
        <h2 style="margin-bottom:30px; font-size:36px;line-height: 48px;font-weight:700;color: #1c1b1b">SKILLS THAT WE’LL DEVELOP
            <span style="display: block;color:#5624d0" class="mt-2">#Develop Skills</span>
        </h2>
    </div>
    <div class="container pb-5">
        <div class="row">
            <div class="col-md-3 col-lg-3 my-2">
                <div class="card at-card h-100 mx-2" style="border: 0 !important;">
                    <div class="card-body text-center">
                        <img style="margin-bottom: 27px;" src="{% static 'images/at1.png' %}" alt="">
                        <h5
                            style="font-size: 18px;line-height: 28px;color: #1c1b1b;margin-bottom: 26px;font-weight: 700;">
                            Networking</h5>
                        <div>
                            Exchanging information on challenges, experiences, and goals is a key benefit of networking because it allows students to gain new insights that they may not have otherwise thought of.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 my-2">
                <div class="card at-card h-100 mx-2" style="border: 0 !important;">
                    <div class="card-body text-center">
                        <img style="margin-bottom: 27px;" src="{% static 'images/at2.png' %}" alt="">
                        <h5
                            style="font-size: 18px;line-height: 28px;color: #1c1b1b;margin-bottom: 26px;font-weight: 700;">
                            Communication skill</h5>
                        <div>
                            Students will learn presentation skills, negotiation skills, influencing skills, and teamwork building.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 my-2">
                <div class="card at-card h-100 mx-2" style="border: 0 !important;">
                    <div class="card-body text-center">
                        <img style="margin-bottom: 27px;" src="{% static 'images/at3.png' %}" alt="">
                        <h5
                            style="font-size: 18px;line-height: 28px;color: #1c1b1b;margin-bottom: 26px;font-weight: 700;">
                            Web development</h5>
                        <div>
                            Students will learn how to design and execute parts in addition to the front-end and back-end knowledge.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 my-2">
                <div class="card at-card h-100 mx-2" style="border: 0 !important;">
                    <div class="card-body text-center">
                        <img style="margin-bottom: 27px;" src="{% static 'images/at3.png' %}" alt="">
                        <h5
                            style="font-size: 18px;line-height: 28px;color: #1c1b1b;margin-bottom: 26px;font-weight: 700;">
                            Creative Thinking</h5>
                        <div>
                            Allows students a way of looking at problems or situations from a fresh perspective that suggests unorthodox solutions (which may look unsettling at first).
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row mt-3">
            <div class="col-md-3 col-lg-3 my-2">
                <div class="card at-card h-100 mx-2" style="border: 0 !important;">
                    <div class="card-body text-center">
                        <img style="margin-bottom: 27px;" src="{% static 'images/at2.png' %}" alt="">
                        <h5
                            style="font-size: 18px;line-height: 28px;color: #1c1b1b;margin-bottom: 26px;font-weight: 700;">
                            Video editing</h5>
                        <div>
                            Will introduce students to all the required tools and how to use them in a fruitful manner.

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 my-2">
                <div class="card at-card h-100 mx-2" style="border: 0 !important;">
                    <div class="card-body text-center">
                        <img style="margin-bottom: 27px;"
                            src="https://hicoder.in/assets/images/services/style9/6.png" alt="">
                        <h5
                            style="font-size: 18px;line-height: 28px;color: #1c1b1b;margin-bottom: 26px;font-weight: 700;">
                            Management</h5>
                        <div>
                            Students will learn planning, controlling, leading, organizing, flexibility and resilience.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 my-2">
                <div class="card at-card h-100 mx-2" style="border: 0 !important;">
                    <div class="card-body text-center">
                        <img style="margin-bottom: 27px;" src="{% static 'images/at8.png' %}" alt="">
                        <h5
                            style="font-size: 18px;line-height: 28px;color: #1c1b1b;margin-bottom: 26px;font-weight: 700;">
                            Leadership qualities</h5>
                        <div>
                            Students will learn leadership traits that include honesty, confidence, commitment, and creativity.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 my-2">
                <div class="card at-card h-100 mx-2" style="border: 0 !important;">
                    <div class="card-body text-center">
                        <img style="margin-bottom: 27px;" src="{% static 'images/at7.png' %}" alt="">
                        <h5
                            style="font-size: 18px;line-height: 28px;color: #1c1b1b;margin-bottom: 26px;font-weight: 700;">
                            Personal branding</h5>
                        <div>
                            Students will learn how to become better at articulating and expressing what they do, what makes you different, and what you have to offer.
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- <section style="background-color: rgb(255, 255, 255);padding-top: 92px; padding-bottom: 92px;">
    <div class="text-center">
        <div style="margin-bottom: 8px;color: #5624d0;font-family: 'Poppins';font-weight: 500;">What others think?</div>
        <h2
            style="font-size: 36px;line-height: 48px;font-family: 'Poppins';color: #1c1b1b;margin: 0 0 26px;font-weight: 700;">
            Reviews by Industry Experts</h2>
    </div>
    <div class="container">
        <div class="row" style="box-shadow: 0px 0px 2px rgb(0 0 0 / 40%);">
            <div class="col-md-6 col-lg-6" style="background-image: url(../static/images/reviews.jpeg);">

            </div>
            <div class="col-md-6 col-lg-6" style="background-color: white;padding: 67px 85px 62px 70px;">
                <div class="owl-carousel owl-theme owl-carousel1">
                    <div class="text-center">
                        <i class="fa fa-quote-left fa-3x"
                            style="color: rgba(85, 36, 208,0.12);font-size: 50px !important;"></i>
                        <p style="color: #363636;font-size: 18px;font-style: italic;line-height: 1.9em;">cel is
                            encouraging students to learn engineering. Having production grade development
                            experience on project will reduce onboarding burden on candidates as well as project
                            leads.</p>
                        <div style="display: flex;justify-content: center;">
                            <img style="height: 65px;width: 65px;" class="img-fluid rounded-circle"
                                src="{% static 'images/review1.jpeg' %}" alt="">
                        </div>
                        <h5
                            style="color: #1c1b1b;font-family: 'Roboto';font-size: 20px;margin: 19px 0 4px;font-weight: 500;line-height: 28px;">
                            Sudhir Kumar
                        </h5>
                        <p
                            style="color: #878787;font-size: 16px;line-height: 1.7em;font-family: 'Roboto';font-weight: 400;">
                            Technical Lead, HARMAN International</p>
                    </div>
                    <div class="text-center">
                        <i class="fa fa-quote-left fa-3x"
                            style="color: rgba(85, 36, 208,0.12);font-size: 50px !important;"></i>
                        <p style="color: #363636;font-size: 18px;font-style: italic;line-height: 1.9em;">This is a
                            great opportunity for students coming from tier 2 tier 3 engineering colleges. cel's
                            syllabus looks wholesome as student will have opportunity to do both frontend as well as
                            backend. Happy to see that IT Industry will have a wave of qualilty engineers. </p>
                        <div style="display: flex;justify-content: center;">
                            <img style="height: 65px;width: 65px;" class="img-fluid rounded-circle"
                                src="{% static 'images/review2.jpeg' %}" alt="">
                        </div>
                        <h5
                            style="color: #1c1b1b;font-family: 'Roboto';font-size: 20px;margin: 19px 0 4px;font-weight: 500;line-height: 28px;">
                            Aashish Vishwakarma
                        </h5>
                        <p
                            style="color: #878787;font-size: 16px;line-height: 1.7em;font-family: 'Roboto';font-weight: 400;">
                            Software Engineer, Bosch</p>
                    </div>
                    <div class="text-center">
                        <i class="fa fa-quote-left fa-3x"
                            style="color: rgba(85, 36, 208,0.12);font-size: 50px !important;"></i>
                        <p style="color: #363636;font-size: 18px;font-style: italic;line-height: 1.9em;">cel is
                            encouraging students to learn engineering. Having production grade development
                            experience on project will reduce onboarding burden on candidates as well as project
                            leads.</p>
                        <div style="display: flex;justify-content: center;">
                            <img style="height: 65px;width: 65px;" class="img-fluid rounded-circle"
                                src="{% static 'images/review3.jpeg' %}" alt="">
                        </div>
                        <h5
                            style="color: #1c1b1b;font-family: 'Roboto';font-size: 20px;margin: 19px 0 4px;font-weight: 500;line-height: 28px;">
                            Tapas Adhikary
                        </h5>
                        <p
                            style="color: #878787;font-size: 16px;line-height: 1.7em;font-family: 'Roboto';font-weight: 400;">
                            UI/UX, Microfocus</p>
                    </div>
                    <div class="text-center">
                        <i class="fa fa-quote-left fa-3x"
                            style="color: rgba(85, 36, 208,0.12);font-size: 50px !important;"></i>
                        <p style="color: #363636;font-size: 18px;font-style: italic;line-height: 1.9em;">cel
                            didn't exist 15 years ago when I was preparing for software engineering career. In 2002,
                            I had to pay hefty to get basic technical training. Good to see that cel is removing
                            the barrier of high tuition fee and encouraging students towards product focused
                            learning than just teaching specific programming language that generally gets outdated.
                        </p>
                        <div style="display: flex;justify-content: center;">
                            <img style="height: 65px;width: 65px;" class="img-fluid rounded-circle"
                                src="{% static 'images/review4.jpeg' %}" alt="">
                        </div>
                        <h5
                            style="color: #1c1b1b;font-family: 'Roboto';font-size: 20px;margin: 19px 0 4px;font-weight: 500;line-height: 28px;">
                            Srikant Rahul
                        </h5>
                        <p
                            style="color: #878787;font-size: 16px;line-height: 1.7em;font-family: 'Roboto';font-weight: 400;">
                            Technical Architect, Hexaware Technologies</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- <section style="background-color: #f7f9fa;padding: 48px 0;">
    <div class="container text-center">
        <h4 class="text-dark" style="font-size: 1.5rem;font-family: 'Poppins';font-weight: 600;">
            Associated Companies</h4>
        <div class="owl-carousel owl-carousel2 mt-5">
            <div class="px-5">
                <img src="https://bootstrapmade.com/demo/templates/OnePage/assets/img/clients/client-3.png"
                    alt="" class="img-fluid ptcell-logo" style="height:4rem;">
            </div>
            <div class="px-5">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/90/Burger_King_1969_logo.svg/811px-Burger_King_1969_logo.svg.png"
                    alt="" class="img-fluid ptcell-logo" style="height:4rem;">
            </div>
            <div class="px-5">
                <img src="http://assets.stickpng.com/images/580b57fcd9996e24bc43c51f.png"
                    alt="" class="img-fluid ptcell-logo" style="height:4rem;">
            </div>
            <div class="px-5">
                <img src="https://1000logos.net/wp-content/uploads/2021/04/Twitter-Logo-2010.png"
                    alt="" class="img-fluid ptcell-logo" style="height:4rem;">
            </div>
            <div class="px-5">
                <img src="https://cra.org/wp-content/uploads/2016/11/Facebook.png"
                    alt="" class="img-fluid ptcell-logo" style="height:4rem;">
            </div>
            
            

        </div>
        

    </div>
</section> -->
<section class="my-5">
    <div class="text-center">
        <div style="font-family: 'Poppins';font-weight: 500;margin-bottom: 8px;color: #999;">CeL COURSES</div>
        <h2 style="margin-bottom:30px; font-size:36px;line-height: 48px;font-weight:700;color: #1c1b1b">
            <span style="display: block;color:#5624d0">#top most faculty</span>
        </h2>
    </div>
    <div class="container">
        {% if not data %}
        <div class="alert alert-danger text-center" style="border:0 !important;background-color: #c8b7f2 !important; color: #5624d0 !important;">
            No courses found
        </div>
        {% endif %}
        <div class="owl-carousel owl-carousel3 ">
        {% for i in data %}
        <div class="card blog-card"
                style="border: 0 !important; border-radius: 0 !important;box-shadow: 0 5px 20px rgb(34 34 34 / 10%);">
                <div class="card-img-top">
                    <img src="{{i.thumbnailcourse.url}}" alt="" class="img-fluid"
                                    style="height:13rem; width:100%;">
                </div>
                <div class="card-body" style="padding: 33px 30px 25px;">
                    <h3 style="margin:6px 0 15px;font-size: 28px;line-height: 16px;font-family: 'Poppins';"><a
                            href="{% url 'coursedetail' i.id %}"
                            style="font-size: 20px;font-weight: 600;color: #1c1b1b;text-decoration: none;">{{i.coursetitle}}</a></h3>
                            <p class="text-muted">{{i.coursedesc | truncatechars:30}}
                                        <a style="text-decoration: none"href="#" data-toggle="tooltip" data-placement="top" title="{{i.coursedesc}}">
                                            <small style="color: red;">more</small>
                                          </a>
                                    </p>
                    <div style="display: flex;justify-content: space-between;align-items: center;">
                        <div style="display: flex;flex-direction: row;justify-content: center;align-items: center;">
                            <img style="max-width: 40px;height: auto;"
                                class="img-fluid" src="{% static 'images/favicon.png' %}"
                                alt="">
                        </div>
                        <div><i class="bi bi-clock" style="color: #67c27c;margin-right: 5px;"></i><span
                                style="color: #1c1b1b;font-size: 14px;">{{i.dateadded}}</span></div>
                    </div>
                </div>

            </div>
        {% endfor %}
            
            


        </div>
    </div>


</section>

{% endblock content %}
