
{% extends 'base.html' %}
{% load static %}
{% block content %}

<section id="header" style="">
    <div class="container">
        <div class="row py-5">


            <div class="col-lg-6 col-md-6 order-md-2 order-lg-2"
                style="display: flex;justify-content:center;align-items:start; flex-direction:column">
                <div class="subtitle">
                    CeL | MNIT JAIPUR
                </div>
                <h1 class="title">Explore courses by top professors.</h1>
                <a href="#about" class="know-button" style="text-decoration: none">KNOW MORE</a>
            </div>
            <div class="col-lg-6 col-md-6 order-md-1 order-lg-1 text-center"
                style="display: flex;justify-content:center;align-items:center; flex-direction:column">
                <img src="{% static 'images/header-img.svg' %}" alt="" class="img-responsive" style="height:25rem">

            </div>
        </div>
    </div>
</section>

<section id="blue-box" style="background-color: #f7f9fa;padding: 35px 0;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 1.4rem;"
                    class="text-center"> Job Postings by Alumni</div>
                    <p class="text-muted text-center">Lorem ipsum dolor sit amet.</p>
                    <div class="card p-3 job-name" style="border-radius:12px;border: 0 !important;">
                        <div class="card-body">
                            <h3 class="jobname" style="color: #5624d0">{{jobdata.0.companyname}}</h3>
                            <p class="mb-0">{{jobdata.0.post}}</p>
                            <p class="mb-0">Qualification: {{jobdata.0.education}}</p>
                            <p class="mb-0">Vacant Seats <span style="color:green;font-weight: 700;">{{jobdata.0.vacantseats}}</span></p>
                            <p class="text-muted mb-0">
                                {{jobdata.0.jobdesc}}
                            </p>
                            <div class="pt-3" style="display:flex;justify-content:space-between;">
                                <p><i class="fa fa-map-marker marker"></i> {{jobdata.0.location}}</p>

                                <a href="/alljobs" style="text-decoration: none;">View all jobs available</a>
                            </div>
                        </div>
                    </div>
                </p>
            </div>
        </div>
    </div>
</section>

<section id="about">
    <div class="container">
        <div class="row" style="padding-top:90px; padding-bottom: 92px">
            <div class="col-lg-6 col-md-6">
                <img src="{% static 'images/wehelp.jpeg' %}" style="max-width:100%;height:auto" alt="">
            </div>
            <div class="col-lg-6 col-md-6 mt-3"
                style="display:flex;flex-direction: column; justify-content:center;align-items: start;padding-left: 35px;padding-right:15px;">
                <div style="font-weight: 500;margin-bottom: 8px; color:#999;">
                    ABOUT
                </div>
                <h2 style=" font-size:36px;font-weight:700;color: #1c1b1b">LEARN AT YOUR OWN PACE

                </h2>
                <h3 style="color:#5624d0;">CeL | MNIT JAIPUR</h3>
                <div style="text-align:justify">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus doloribus voluptatum
                    laudantium vel, aut molestias asperiores. Sunt voluptas modi obcaecati rem accusamus sint quia
                    suscipit aliquam quisquam quae, <br> <br> pariatur voluptatum?Lorem ipsum dolor sit amet
                    consectetur, adipisicing elit. Adipisci quasi assumenda eos quae ipsam iusto cum! Tempora
                    molestias odio quis! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto a iste
                    neque aspernatur velit impedit tempora quae, fugit porro reprehenderit quisquam labore vitae
                    voluptatibus placeat eos quibusdam incidunt culpa exercitationem!
                    <br> <br> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab, sequi laborum odit ipsam
                    quibusdam omnis enim a quidem corporis sit iste necessitatibus tempora ipsa ad, aspernatur
                    doloribus id odio. Consequuntur! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut aut
                    id aspernatur aliquid repellendus quas velit officia at culpa voluptatibus ea quia pariatur
                    saepe veritatis eveniet nam quo, facilis dolores?
                </div>
            </div>
        </div>


    </div>
</section>



<section id="why-cel">
    <div class="container">
        <div class="row" style="padding-top:90px; padding-bottom: 92px">
            <div class="col-lg-6 col-md-6 order-md-2 order-lg-2"
                style="display:flex;flex-direction: column; justify-content:center;align-items: start;">
                <img src="https://github.com/Charu1611/HiCoder/blob/master/images/whyhicoder.jpeg?raw=true" style="max-width:100%;height:auto" alt="">
            </div>
            <div class="col-lg-6 col-md-6 order-md-1 order-lg-1 mt-3" style="padding-right: 110px;">

                <h2 style=" font-size:36px;line-height: 48px;font-weight:700;color: #1c1b1b; margin-bottom: 20px;">
                    Why CeL? </h2>
                <div
                    style="text-align:justify;color: #363636;font-family: 'Roboto',sans-serif;margin-bottom: 26px;">
                    cel enables students to think about real-world problems, design, and develop the right
                    solution. <a href="" style="text-decoration: none">know more</a>
                </div>

                <div class="row">
                    <div class="col-lg-2 col-md-2">
                        <i class="fa fa-star fa-4x " style="color: #5624d0"></i>
                    </div>
                    <div class="col-lg-10 col-md-10" style="padding-left: 35px;">
                        <h4 class="why-h mt-1">Personalised Training</h4>
                        <div style="text-align:justify;color: #363636;font-family: 'Roboto',sans-serif;">
                            We understand the weakness of students coming from poor educational backgrounds. cel
                            avails resources and extra after-class support to match the criteria and keep up with
                            tech.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-2">
                        <i class="fa fa-laptop fa-4x " style="color: #5624d0"></i>
                    </div>
                    <div class="col-lg-10 col-md-10" style="padding-left: 35px;">
                        <h4 class="why-h mt-1">Personalised Training</h4>
                        <div style="text-align:justify;color: #363636;font-family: 'Roboto',sans-serif;">
                            We understand the weakness of students coming from poor educational backgrounds. cel
                            avails resources and extra after-class support to match the criteria and keep up with
                            tech.
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px">
                    <div class="col-lg-2 col-md-2">
                        <i class="fa fa-question fa-4x " style="color: #5624d0"></i>
                    </div>
                    <div class="col-lg-10 col-md-10" style="padding-left: 35px;">
                        <h4 class="why-h mt-1">Production Projects</h4>
                        <div style="text-align:justify;color: #363636;font-family: 'Roboto',sans-serif;">
                            Every student ends up making around 3 projects that are wholesome, cloud-hosted and can
                            be used for a commercial purpose.
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>
</section>

<section id="counter"
    style=" background-size: cover;background-repeat: no-repeat; padding: 105px 0 97px 0" class="counts-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div style="display: flex;align-items: center; flex-direction:column">
                    <i class="fa fa-book fa-4x text-white"></i>
                    <p class="icon-p"><span class="counter">100</span>+</p>
                    <h5 class="icon-h">Talented Professors</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div style="display: flex;align-items: center; flex-direction:column">
                    <i class="fa fa-user fa-4x text-white"></i>
                    <p class="icon-p"><span class="counter">20</span>+</p>
                    <h5 class="icon-h">Excellent Courses</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div style="display: flex;align-items: center; flex-direction:column">
                    <i class="fa fa-phone fa-4x text-white"></i>
                    <p class="icon-p"><span class="counter">55</span>+</p>
                    <h5 class="icon-h">Registered Users</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div style="display: flex;align-items: center; flex-direction:column">
                    <i class="fa fa-laptop fa-4x text-white"></i>
                    <p class="icon-p"><span class="counter">40</span>+</p>
                    <h5 class="icon-h">Jobs Available</h5>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="pt-5" id="skills"
    style="background-image: url('../static/images/traingle-curve.png');background-size: cover;background-repeat: no-repeat;background-position: center;">
    <div class="text-center" style="margin-bottom: 117px;">
        <div style="font-family: 'Poppins';font-weight: 500;margin-bottom: 16px;color: #999;">WHAT YOU GAIN</div>
        <h2 style="margin-bottom:30px; font-size:36px;line-height: 48px;font-weight:700;color: #1c1b1b">at CeL MNIT
            is useful
            <span style="display: block;color:#5624d0" class="mt-2">#Develop Skills</span>
        </h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-3 my-2">
                <div class="card at-card h-100" style="border: 0 !important;">
                    <div class="card-body text-center">
                        <img style="margin-bottom: 27px;" src="{% static 'images/at1.png' %}" alt="">
                        <h5
                            style="font-size: 18px;line-height: 28px;color: #1c1b1b;margin-bottom: 26px;font-weight: 700;">
                            Front End</h5>
                        <div>
                            Students learn to design, develope the UI following UX with industry standards.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 my-2">
                <div class="card at-card h-100" style="border: 0 !important;">
                    <div class="card-body text-center">
                        <img style="margin-bottom: 27px;" src="{% static 'images/at2.png' %}" alt="">
                        <h5
                            style="font-size: 18px;line-height: 28px;color: #1c1b1b;margin-bottom: 26px;font-weight: 700;">
                            Backend</h5>
                        <div>
                            Students learn CS Architecture, CRUD, API, Authentication, Authorization, DB and etc.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 my-2">
                <div class="card at-card h-100" style="border: 0 !important;">
                    <div class="card-body text-center">
                        <img style="margin-bottom: 27px;" src="{% static 'images/at3.png' %}" alt="">
                        <h5
                            style="font-size: 18px;line-height: 28px;color: #1c1b1b;margin-bottom: 26px;font-weight: 700;">
                            Project Management</h5>
                        <div>
                            Students learn to plan, project, and execute development projects with client
                            expectation.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 my-2">
                <div class="card at-card h-100" style="border: 0 !important;">
                    <div class="card-body text-center">
                        <img style="margin-bottom: 27px;" src="{% static 'images/at3.png' %}" alt="">
                        <h5
                            style="font-size: 18px;line-height: 28px;color: #1c1b1b;margin-bottom: 26px;font-weight: 700;">
                            Production Deployment</h5>
                        <div>
                            Students learn to create a server, deploy an application following security guidelines.
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row my-3">
            <div class="col-md-3 col-lg-3 my-2">
                <div class="card at-card h-100" style="border: 0 !important;">
                    <div class="card-body text-center">
                        <img style="margin-bottom: 27px;" src="{% static 'images/at2.png' %}" alt="">
                        <h5
                            style="font-size: 18px;line-height: 28px;color: #1c1b1b;margin-bottom: 26px;font-weight: 700;">
                            Basic Analytics</h5>
                        <div>
                            Students learn about analytics, usability, and integration of analytics in their
                            production application.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 my-2">
                <div class="card at-card h-100" style="border: 0 !important;">
                    <div class="card-body text-center">
                        <img style="margin-bottom: 27px;"
                            src="https://hicoder.in/assets/images/services/style9/6.png" alt="">
                        <h5
                            style="font-size: 18px;line-height: 28px;color: #1c1b1b;margin-bottom: 26px;font-weight: 700;">
                            Soft Skills</h5>
                        <div>
                            Soft skills encourages open communication & enhances corporate skills having corporate
                            attitude.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 my-2">
                <div class="card at-card h-100" style="border: 0 !important;">
                    <div class="card-body text-center">
                        <img style="margin-bottom: 27px;" src="{% static 'images/at8.png' %}" alt="">
                        <h5
                            style="font-size: 18px;line-height: 28px;color: #1c1b1b;margin-bottom: 26px;font-weight: 700;">
                            Max Pro Resume</h5>
                        <div>
                            Students get a unique cel smart ID, Certificate, and an industry expert-guided self
                            developed integrated resume.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 my-2">
                <div class="card at-card h-100" style="border: 0 !important;">
                    <div class="card-body text-center">
                        <img style="margin-bottom: 27px;" src="{% static 'images/at7.png' %}" alt="">
                        <h5
                            style="font-size: 18px;line-height: 28px;color: #1c1b1b;margin-bottom: 26px;font-weight: 700;">
                            Industry Standards</h5>
                        <div>
                            Industry Trending technology, tools, and process adaption help students adapt to
                            corporate with almost no effort.
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section style="background-color: rgb(255, 255, 255);padding-top: 92px; padding-bottom: 92px;">
    <div class="text-center">
        <div style="margin-bottom: 8px;color: #5624d0;font-family: 'Poppins';font-weight: 500;">What others think?</div>
        <h2
            style="font-size: 36px;line-height: 48px;font-family: 'Poppins';color: #1c1b1b;margin: 0 0 26px;font-weight: 700;">
            Reviews by Industry Experts</h2>
    </div>
    <div class="container">
        <div class="row" style="box-shadow: 0px 0px 2px rgb(0 0 0 / 40%);">
            <div class="col-md-6 col-lg-6" style="background-image: url(../static/images/reviews.jpeg);">

            </div>
            <div class="col-md-6 col-lg-6" style="background-color: white;padding: 67px 85px 62px 70px;">
                <div class="owl-carousel owl-theme owl-carousel1">
                    <div class="text-center">
                        <i class="fa fa-quote-left fa-3x"
                            style="color: rgba(85, 36, 208,0.12);font-size: 50px !important;"></i>
                        <p style="color: #363636;font-size: 18px;font-style: italic;line-height: 1.9em;">cel is
                            encouraging students to learn engineering. Having production grade development
                            experience on project will reduce onboarding burden on candidates as well as project
                            leads.</p>
                        <div style="display: flex;justify-content: center;">
                            <img style="height: 65px;width: 65px;" class="img-fluid rounded-circle"
                                src="{% static 'images/review1.jpeg' %}" alt="">
                        </div>
                        <h5
                            style="color: #1c1b1b;font-family: 'Roboto';font-size: 20px;margin: 19px 0 4px;font-weight: 500;line-height: 28px;">
                            Sudhir Kumar
                        </h5>
                        <p
                            style="color: #878787;font-size: 16px;line-height: 1.7em;font-family: 'Roboto';font-weight: 400;">
                            Technical Lead, HARMAN International</p>
                    </div>
                    <div class="text-center">
                        <i class="fa fa-quote-left fa-3x"
                            style="color: rgba(85, 36, 208,0.12);font-size: 50px !important;"></i>
                        <p style="color: #363636;font-size: 18px;font-style: italic;line-height: 1.9em;">This is a
                            great opportunity for students coming from tier 2 tier 3 engineering colleges. cel's
                            syllabus looks wholesome as student will have opportunity to do both frontend as well as
                            backend. Happy to see that IT Industry will have a wave of qualilty engineers. </p>
                        <div style="display: flex;justify-content: center;">
                            <img style="height: 65px;width: 65px;" class="img-fluid rounded-circle"
                                src="{% static 'images/review2.jpeg' %}" alt="">
                        </div>
                        <h5
                            style="color: #1c1b1b;font-family: 'Roboto';font-size: 20px;margin: 19px 0 4px;font-weight: 500;line-height: 28px;">
                            Aashish Vishwakarma
                        </h5>
                        <p
                            style="color: #878787;font-size: 16px;line-height: 1.7em;font-family: 'Roboto';font-weight: 400;">
                            Software Engineer, Bosch</p>
                    </div>
                    <div class="text-center">
                        <i class="fa fa-quote-left fa-3x"
                            style="color: rgba(85, 36, 208,0.12);font-size: 50px !important;"></i>
                        <p style="color: #363636;font-size: 18px;font-style: italic;line-height: 1.9em;">cel is
                            encouraging students to learn engineering. Having production grade development
                            experience on project will reduce onboarding burden on candidates as well as project
                            leads.</p>
                        <div style="display: flex;justify-content: center;">
                            <img style="height: 65px;width: 65px;" class="img-fluid rounded-circle"
                                src="{% static 'images/review3.jpeg' %}" alt="">
                        </div>
                        <h5
                            style="color: #1c1b1b;font-family: 'Roboto';font-size: 20px;margin: 19px 0 4px;font-weight: 500;line-height: 28px;">
                            Tapas Adhikary
                        </h5>
                        <p
                            style="color: #878787;font-size: 16px;line-height: 1.7em;font-family: 'Roboto';font-weight: 400;">
                            UI/UX, Microfocus</p>
                    </div>
                    <div class="text-center">
                        <i class="fa fa-quote-left fa-3x"
                            style="color: rgba(85, 36, 208,0.12);font-size: 50px !important;"></i>
                        <p style="color: #363636;font-size: 18px;font-style: italic;line-height: 1.9em;">cel
                            didn't exist 15 years ago when I was preparing for software engineering career. In 2002,
                            I had to pay hefty to get basic technical training. Good to see that cel is removing
                            the barrier of high tuition fee and encouraging students towards product focused
                            learning than just teaching specific programming language that generally gets outdated.
                        </p>
                        <div style="display: flex;justify-content: center;">
                            <img style="height: 65px;width: 65px;" class="img-fluid rounded-circle"
                                src="{% static 'images/review4.jpeg' %}" alt="">
                        </div>
                        <h5
                            style="color: #1c1b1b;font-family: 'Roboto';font-size: 20px;margin: 19px 0 4px;font-weight: 500;line-height: 28px;">
                            Srikant Rahul
                        </h5>
                        <p
                            style="color: #878787;font-size: 16px;line-height: 1.7em;font-family: 'Roboto';font-weight: 400;">
                            Technical Architect, Hexaware Technologies</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<section style="background-color: #f7f9fa;padding: 48px 0;">
    <div class="container text-center">
        <h2 class="text-dark" style="font-size: 36px;line-height: 48px;font-family: 'Poppins';font-weight: 600;">
            Associated Companies</h2>
        <div class="owl-carousel owl-carousel2 mt-5">
            <div class="px-5">
                <img src="https://bootstrapmade.com/demo/templates/OnePage/assets/img/clients/client-3.png"
                    alt="" class="img-fluid ptcell-logo" style="height:4rem;">
            </div>
            <div class="px-5">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/90/Burger_King_1969_logo.svg/811px-Burger_King_1969_logo.svg.png"
                    alt="" class="img-fluid ptcell-logo" style="height:4rem;">
            </div>
            <div class="px-5">
                <img src="http://assets.stickpng.com/images/580b57fcd9996e24bc43c51f.png"
                    alt="" class="img-fluid ptcell-logo" style="height:4rem;">
            </div>
            <div class="px-5">
                <img src="https://1000logos.net/wp-content/uploads/2021/04/Twitter-Logo-2010.png"
                    alt="" class="img-fluid ptcell-logo" style="height:4rem;">
            </div>
            <div class="px-5">
                <img src="https://cra.org/wp-content/uploads/2016/11/Facebook.png"
                    alt="" class="img-fluid ptcell-logo" style="height:4rem;">
            </div>
            
            <!-- <div>
                <img class="img-fluid " style="max-width:100%;height: auto;" src="images/partner1.jpeg" alt="">
            </div>
            <div>
                <img class="img-fluid " style="max-width:100%;height: auto;" src="images/partner2.jpeg" alt="">
            </div>
            <div>
                <img class="img-fluid " style="max-width:100%;height: auto;" src="images/partner3.jpeg" alt="">
            </div>
            <div>
                <img class="img-fluid " style="max-width:100%;height: auto;"
                    src="https://cel.in/assets/images/partner/6.jpg" alt="">
            </div>
            <div>
                <img class="img-fluid " style="max-width:100%;height: auto;"
                    src="https://cel.in/assets/images/partner/7.jpg" alt="">
            </div>
            <div>
                <img class="img-fluid " style="max-width:100%;height: auto;"
                    src="https://cel.in/assets/images/partner/1.jpg" alt="">
            </div>
            <div>
                <img class="img-fluid " style="max-width:100%;height: auto;"
                    src="https://cel.in/assets/images/partner/2.jpg" alt="">
            </div> -->

        </div>
        <div class="container">

        

      </div>

    </div>
</section>
<section
    style="background-image: url('../static/images/traingle-curve.png');background-size: 100% 94%;background-repeat: no-repeat;background-position: center;">
    <div class="text-center" style="padding-bottom: 70px;margin-top: 92px;">
        <div style="font-family: 'Poppins';font-weight: 500;margin-bottom: 8px;color: #999;">COURSES</div>
        <h2 style="margin-bottom:30px; font-size:36px;line-height: 48px;font-weight:700;color: #1c1b1b">Courses on
            the demand of students by
            <span style="display: block;color:#5624d0">#top most faculty</span>
        </h2>
    </div>
    <div class="container">
        <div class="owl-carousel owl-carousel3 ">
        {% for i in data %}
        <div class="card blog-card"
                style="border: 0 !important; border-radius: 0 !important;box-shadow: 0 5px 20px rgb(34 34 34 / 10%);">
                <div class="card-img-top">
                    <img src="{{MEDIA_URL}}/{{i.thumbnailcourse}}" alt="" class="img-fluid"
                                    style="height:13rem; width:100%;">
                </div>
                <div class="card-body" style="padding: 33px 30px 25px;">
                    <h3 style="margin:6px 0 15px;font-size: 28px;line-height: 32px;font-family: 'Poppins';"><a
                            href="{% url 'coursedetail' i.id %}"
                            style="font-size: 20px;line-height: 32px;font-weight: 600;color: #1c1b1b;text-decoration: none;">{{i.coursetitle}}</a></h3>
                            <p class="text-muted">{{i.coursedesc | truncatechars:30}}
                                        <a style="text-decoration: none"href="#" data-toggle="tooltip" data-placement="top" title="{{i.coursedesc}}">
                                            <small style="color: red;">more</small>
                                          </a>
                                    </p>
                    <div style="display: flex;justify-content: space-between;align-items: center;">
                        <div style="display: flex;flex-direction: row;justify-content: center;align-items: center;">
                            <img style="max-width: 40px;border-radius: 100%;margin-right: 8px;height: auto;"
                                class="img-fluid" src="https://hicoder.in/assets/images/blog/avatar/1.png"
                                alt=""><span style="font-size: 15px;color: #1c1b1b;">cel</span>
                        </div>
                        <div><i class="bi bi-clock" style="color: #67c27c;margin-right: 5px;"></i><span
                                style="color: #1c1b1b;font-size: 14px;">{{i.dateadded}}</span></div>
                    </div>
                </div>

            </div>
        {% endfor %}
            
            


        </div>
    </div>


</section>

{% endblock content %}
