
{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'OwlCarousel2-2.3.4 2/dist/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'OwlCarousel2-2.3.4 2/dist/assets/owl.theme.default.min.css' %}">


    <title>CeL MNIT Jaipur</title>
</head>

<body>

    <section id="top-section" style="background-color: #5624d0;" >
        <div class="container" style="padding: 11px 0; ">
            <div class="row">
                <div class="col-md-5 col-lg-5 text-white">
                    <span style="margin-right: 20px;" class="font-roboto"><i class="bi bi-envelope text-white"
                            style="margin-right: 7px;font-size: 14px;"></i>
                        cel@mnit.ac.in</span>

                    <a href="tel:+919206980980" class="text-white font-roboto" style="text-decoration:none;margin-right: 20px;"><i
                            style="margin-right: 7px;font-size: 14px;" class="bi bi-telephone-outbound"></i> (+91)
                        999999999</a>
                    {% if user.is_authenticated %}
                    <a class="text-white font-roboto" style="text-decoration:none">

                        <i style="margin-right: 7px;font-size: 14px;" class="fa fa-user"></i>
                        Welcome <b>{{request.user.username}}</b></a>

                    {% endif %}
                </div>
                <div class="col-md-7 col-lg-7 text-white " style="text-align: right;">
                    <span style="margin-right: 20px;" class="font-roboto"> <i class="bi text-white bi-calendar"
                            style="margin-right: 7px;font-size: 14px;"></i> <span id="dnt"></span>
                        <script>
                            var d = new Date();
                            var x = new Date(d.setMonth(d.getMonth() - 1)).toLocaleDateString();
                            document.getElementById("dnt").innerHTML = x;
                        </script>
                    </span>
                    <i class="bi text-white soc-icon bi-facebook" style="margin-right: 15px;font-size: 14px;"></i>
                    <i class="bi text-white soc-icon bi-instagram" style="margin-right: 15px;font-size: 14px;"></i>
                    <i class="bi text-white soc-icon bi-twitter" style="margin-right: 15px;font-size: 14px;"></i>
                    <i class="bi text-white soc-icon bi-linkedin" style="margin-right: 15px;font-size: 14px;"></i>
                </div>
            </div>
        </div>
    </section>

    <section id="navbar" class="container" style="padding-left: 0 !important;">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid" style="padding-left: 0 !important">
                <div>
                    <a class="navbar-brand" href="/"><img class="logo img-fluid"
                            src="{% static 'images/ecell-logo.png' %}" alt="" /></a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item" style="margin-right: 27px">
                            <a class="nav-link active" aria-current="page" href="/">HOME</a>
                        </li>
                        <li class="nav-item" style="margin-right: 27px">
                            <a class="nav-link active" aria-current="page" href="#about">ABOUT</a>
                        </li>
                        <li class="nav-item" style="margin-right: 27px">
                            <a class="nav-link active" aria-current="page" href="#skills">SKILLS</a>
                        </li>
                        <li class="nav-item" style="margin-right: 27px">
                            <a class="nav-link active" aria-current="page" href="#footer">CONTACT</a>
                        </li>
                        <li class="nav-item" style="margin-right: 27px">
                            <a class="nav-link active" aria-current="page" href="/allquestions">BLOG</a>
                        </li>
                        
                        <li class="nav-item dropdown" style="margin-right: 27px">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false" onmouseover="this.innerHTML='PTCELL -'"
                                onmouseout="this.innerHTML='PTCELL +'">
                                PTCELL <span>+</span>
                            </a>
                            <ul class="dropdown-menu" style="left: -95%" aria-labelledby="navbarDropdown"
                                style="padding: 15px 0">
                                <li>
                                    <a class="dropdown-item" href="/alljobs" style="padding: 10px 30px !important">
                                        ALL JOBS</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/addjob" style="padding: 10px 30px !important">
                                        POST NEW JOB</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/experience" style="padding: 10px 30px !important">
                                        EXPERIENCE</a>
                                </li>
                                
                            </ul>
                        </li>
                        <li class="nav-item dropdown" style="margin-right: 27px">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false" onmouseover="this.innerHTML='COURSES -'"
                                onmouseout="this.innerHTML='COURSES +'">
                                COURSES <span>+</span>
                            </a>
                            <ul class="dropdown-menu" style="left: -95%" aria-labelledby="navbarDropdown"
                                style="padding: 15px 0">
                                <li>
                                    <a class="dropdown-item" href="/addcourse" style="padding: 10px 30px !important">
                                        ADD COURSES</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/allcourses" style="padding: 10px 30px !important">
                                        VIEW COURSES</a>
                                </li>
                                
                            </ul>
                        </li>

                        <!-- <button type="button" class="btn btn-primary px-4" style="background-color:#5624d0 !important; padding: 5px 0 !important;border: 0 !important; border-radius:0 !important; ">Apply Now</button> -->
                        <div class="apply-button">
                            {% if user.is_authenticated %}
                            <a href="/logout" class="px-4 text-white" style="
                    text-decoration: none;
                    font-family: 'Roboto', sans-serif;
                    font-size: 16px !important;
                  ">LOGOUT</a>
                            {% else %}
                            <a href="/login" class="px-4 text-white" style="
                    text-decoration: none;
                    font-family: 'Roboto', sans-serif;
                    font-size: 16px !important;
                  ">LOGIN</a>
                            {% endif %}
                        </div>

                        <div class="dot-icon">
                            <a data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
                                aria-controls="offcanvasExample"><img class="img-fluid" style="height: 2.5rem"
                                    src="{% static 'images/dts.png' %}" alt="" /></a>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="fixed-menu"> 
            <div class="container" style="padding-left: 0 !important">
                <div>
                    <a class="navbar-brand" href="/"><img class="logo img-fluid"
                            src="{% static 'images/ecell-logo.png' %}" alt="" /></a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item" style="margin-right: 27px">
                            <a class="nav-link active" aria-current="page" href="/">HOME</a>
                        </li>
                        <li class="nav-item" style="margin-right: 27px">
                            <a class="nav-link active" aria-current="page" href="/#about">ABOUT</a>
                        </li>
                        <li class="nav-item" style="margin-right: 27px">
                            <a class="nav-link active" aria-current="page" href="#skills">SKILLS</a>
                        </li>
                        <li class="nav-item" style="margin-right: 27px">
                            <a class="nav-link active" aria-current="page" href="/#footer">CONTACT</a>
                        </li>
                        <li class="nav-item" style="margin-right: 27px">
                            <a class="nav-link active" aria-current="page" href="/allquestions">BLOG</a>
                        </li>
                        
                        <li class="nav-item dropdown" style="margin-right: 27px">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false" onmouseover="this.innerHTML='PTCELL -'"
                                onmouseout="this.innerHTML='PTCELL +'">
                                PTCELL <span>+</span>
                            </a>
                            <ul class="dropdown-menu" style="left: -95%" aria-labelledby="navbarDropdown"
                                style="padding: 15px 0">
                                <li>
                                    <a class="dropdown-item" href="/alljobs" style="padding: 10px 30px !important">
                                        ALL JOBS</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/addjob" style="padding: 10px 30px !important">
                                        POST NEW JOB</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/experience" style="padding: 10px 30px !important">
                                        EXPERIENCE</a>
                                </li>
                                
                            </ul>
                        </li>
                        <li class="nav-item dropdown" style="margin-right: 27px">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false" onmouseover="this.innerHTML='COURSES -'"
                                onmouseout="this.innerHTML='COURSES +'">
                                COURSES <span>+</span>
                            </a>
                            <ul class="dropdown-menu" style="left: -95%" aria-labelledby="navbarDropdown"
                                style="padding: 15px 0">
                                <li>
                                    <a class="dropdown-item" href="/addcourse" style="padding: 10px 30px !important">
                                        ADD COURSES</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/allcourses" style="padding: 10px 30px !important">
                                        VIEW COURSES</a>
                                </li>
                                
                            </ul>
                        </li>

                        <!-- <button type="button" class="btn btn-primary px-4" style="background-color:#5624d0 !important; padding: 5px 0 !important;border: 0 !important; border-radius:0 !important; ">Apply Now</button> -->
                        <div class="apply-button">
                            {% if user.is_authenticated %}
                            <a href="/logout" class="px-4 text-white" style="
                    text-decoration: none;
                    font-family: 'Roboto', sans-serif;
                    font-size: 16px !important;
                  ">LOGOUT</a>
                            {% else %}
                            <a href="/login" class="px-4 text-white" style="
                    text-decoration: none;
                    font-family: 'Roboto', sans-serif;
                    font-size: 16px !important;
                  ">LOGIN</a>
                            {% endif %}
                        </div>

                        <div class="dot-icon">
                            <a data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
                                aria-controls="offcanvasExample"><img class="img-fluid" style="height: 2.5rem"
                                    src="{% static 'images/dts.png' %}" alt="" /></a>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
        <div style="width: 520px !important;padding: 25px 30px 50px 50px;" class="offcanvas offcanvas-end" tabindex="-1"
        id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header" style="justify-content: flex-end;">

            <button type="button" style="border: 0 !important;background-color: transparent !important;"
                class="text-reset" data-bs-dismiss="offcanvas" aria-label="Close"><img class="img-fluid"
                    style="height:3rem;" src="{% static 'images/dts.png' %}" alt=""></button>
        </div>
        <div class="offcanvas-body">
            <img class="img-fluid" style="width: 176px;padding-bottom: 55px;" src="{% static 'images/ecell-logo.png' %}"
                alt="">
            <p
                style="font-size: 18px;line-height: 28px;color: #333;font-weight: 400;font-family: 'Roboto';margin-bottom: 57px;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati nobis quisquam, blanditiis rem,
                tenetur ipsum magnam facere nisi dolores, accusamus at ea aliquam hic rerum commodi mollitia?
                Architecto, perspiciatis vero.</p>
            <ul style="padding-left: 0;list-style: none;padding-bottom: 40px;">

                <li>
                    <div class="row" style="margin-bottom: 10px;padding-bottom: 26px;">
                        <div class="col-1">
                            <i style="padding-right: 25px; font-size: 20px;color: #5624d0;" class="bi bi-geo-alt"></i>
                        </div>
                        <div class="col-11">
                            <span
                                style=" font-size: 18px;line-height: 1.7;padding-right: 40px;font-weight:400;font-family: 'Roboto';">
                                Prabha Bhawan, Malaviya National Institute of Technology, Jaipur-302017
                            </span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row" style="margin-bottom: 10px;padding-bottom: 26px;">
                        <div class="col-1">
                            <i style="padding-right: 25px; font-size: 20px;color: #5624d0;"
                                class="bi bi-telephone-outbound"></i>
                        </div>
                        <div class="col-11">
                            <span
                                style=" font-size: 16px;line-height: 1.7;padding-right: 40px;font-weight:400;font-family: 'Roboto';">(+91)
                                9999999999</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row" style="margin-bottom: 10px;padding-bottom: 26px;">
                        <div class="col-1">
                            <i style="padding-right: 25px; font-size: 20px;color: #5624d0;" class="bi bi-envelope"></i>
                        </div>
                        <div class="col-11">
                            <span
                                style=" font-size: 16px;line-height: 1.7;padding-right: 40px;font-weight:400;font-family: 'Roboto';">admission@cel.in</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row" style="margin-bottom: 10px;padding-bottom: 26px;">
                        <div class="col-1">
                            <i style="padding-right: 25px; font-size: 20px;color: #5624d0;" class="bi bi-clock"></i>
                        </div>
                        <div class="col-11">
                            <span
                                style=" font-size: 16px;line-height: 1.7;padding-right: 40px;font-weight:400;font-family: 'Roboto';">10:00AM
                                - 06:00PM</span>
                        </div>
                    </div>
                </li>

            </ul>
            <i style="background-color: #5624d0;font-size: 15px;border-radius: 3px; width: 30px;height: 30px;line-height: 30px;color: #fff;text-align: center;"
                class="fa fa-facebook"></i>
            <i style="background-color: #5624d0;font-size: 15px;border-radius: 3px; width: 30px;height: 30px;line-height: 30px;color: #fff;text-align: center;"
                class="fa fa-instagram"></i>
            <i style="background-color: #5624d0;font-size: 15px;border-radius: 3px; width: 30px;height: 30px;line-height: 30px;color: #fff;text-align: center;"
                class="fa fa-twitter"></i>
            <i style="background-color: #5624d0;font-size: 15px;border-radius: 3px; width: 30px;height: 30px;line-height: 30px;color: #fff;text-align: center;"
                class="fa fa-linkedin"></i>
        </div>
    </div>
<section id="header" style="display: flex;justify-content: center;align-items: center; min-height:80vh">
    <div class="container">
        <div class="card py-5 my-4" style="border-radius: 11px;border: 0 !important;background-color: rgb(233,227,246)">
            <div class="text-center mb-3">
                <img src="https://upload.wikimedia.org/wikipedia/en/b/b7/Mnit_logo.png" alt="" class="img-fluid" style="height:5rem;width:5rem;">
            </div>
            <h3 class="text-center">Login to your account</h3>
            <div class="card-body">
                <div class="row">
                    <!-- <div class="col-md-4 col-lg-4 col-12 text-center"
                        style="display: flex;justify-content:center;align-items:center">
                        <img class="img-fluid " src="images/login.svg" alt="" style="height:13rem;width: 13rem;">
                    </div> -->
                    <div class="col-md-2 col-lg-2"></div>
                    <div class="col-md-8 col-lg-8 col-12">
                        <form  method="post" action="" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="mb-3 text-left">
                                <label for="username" class="form-label">Enter username</label>
                                <input type="text" class="form-control" name="username" id="username" placeholder="Enter username"/>
                                
                            </div>
                            <div class="mb-3 text-left">
                                <label for="password" class="form-label">Enter password</label>
                                <input type="password" class="form-control" name="password" id="password" placeholder="Enter password"/>
                                
                            </div>

                            <button class="btn btn-primary" type="submit">
                                Login
                            </button>
                        </form>
                        <div class="text-end">
                            <a href="/signup">New User| Register here</a>
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="bi bi-chevron-up"></i></button>
    <div id="loading">
        <img id="loading-image" src="https://icons8.com/preloaders/preloaders/1474/Walk.gif" alt="Loading..." />
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous">
        </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{% static 'OwlCarousel2-2.3.4 2/dist/owl.carousel.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts.js' %}"></script>
</body>

</html>