{% extends 'base.html' %}
{% load static %}
{% block content %}
<section style="background-repeat:no-repeat;background-size:cover;background-position:center;background-color:#9873f3;background-blend-mode: multiply; background-image: url(../static/images/vltc.jpg);display:flex;justify-content:center;align-items:center">
    <div class="container py-5 text-center">
        <h2 class="pt-3 text-white">Placement Connect</h2>
    </div>
</section>
<div class="container py-5">
    <div class="text-end mb-3">
        
        <h3 style="display: inline" class="me-3"></h3><a href="/addexperience"class="btn btn-primary"><i class="fa fa-plus"></i> Add New</a>
    </div>
    {% if not data %}
    <div class="alert alert-danger text-center" style="border:0 !important;background-color: #c8b7f2 !important; color: #5624d0 !important;">
        No experience found
    </div>
    {% endif %}
    <div class="row ">
        {% for i in data %}
        <div class="col-md-6 col-lg-6 col-12 h-100 mb-4">
            <div class="card h-100 p-3 ek-class" style="border-radius: 11px;">
                <div class="text-end">
                    <img style="height: 5rem;width: 5rem;" class="img-fluid rounded-circle" src="{{i.studentphoto.url}}" alt="">
                    <h4 class="pt-3">{{i.studentname | title}}</h4>
                    <p class="mb-0">{{i.branch | title}}</p>
                    <p class="mb-0">Company Placed: {{i.companyplaced | title}}</p>
                    <p class="mb-0">Passout Year: <span style="color: blue;">{{i.passoutyear | title}}</span></p>
                </div>
                <p class="pt-3 text-muted" style="text-align:justify"> <i class="fa fa-quote-left" style="color:rgba(85, 36 , 208, 0.12)"></i> {{i.experience}}</p>
            </div>
        </div>
        {% endfor %}
        
    </div>
</div>

{% endblock content %}